h1 {
    text-align: center;
}

body {
    background-color: beige;
}

table {
    margin: auto;
    border: solid;
}

td {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    color: blue;
}